:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0D0D0D;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

html, body{
  height: 100%;
}
body{
  margin: 0 auto;
  background-color: var(--body-background);

}
span{
  color: var(--color-logo);
}

section.front-cover{
  background-image: url(/assets/background.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  background-attachment: fixed;
}